@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--color-base) inset !important;
  -webkit-text-fill-color: var(--color-primary) !important;
  background-color: var(--color-base) !important;
}

@theme {
  --color-base: #0D0D0D;
  --color-primary: #F2F2F2;
  --color-subtle: #8C8C8C;
  --color-muted: #BFBFBF;
  --color-secondary: #403F3D;
}
